* {
  margin: 10px;
}

body {

    margin: 10px;
    margin-top: 10px;
    border: 10px;
}

.container {
    margin: 10px;
    margin-top: 10px;
    border: 10px;
}

#avatar {
  border: 0px solid;
  display: none;
  width: 0px;
}


#sentenceReturn {
  width: 500px;
  height: 200px;
}